/* Reset some default browser styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100%;

/* Navbar styles */
.header{
    height:100px;
    width: 60%;
    background-color: black;
}